<form action="/submit" method="POST">
  First name:<br>
  <input type="text" name="firstname"><br><br>
  Last name:<br>
  <input type="text" name="lastname"><br><br>
  How are you today?<br>
  <select name="mood">
    <option value="Great">Great</option>
    <option value="Good">Good</option>
    <option value="Poor">Poor</option>
    <option value="Terrible">Terrible</option>
  </select>
  <br><br>
  Message:<br>
  <textarea  type="text" name="message" rows="7" cols="50"></textarea><br><br>
  <input type="submit" value="Submit">
</form>
